@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "TikTok Sans", sans-serif;
}

body{
  background-color: #fff;
  width: 100%;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}